<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="">home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="about">about</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">contact</a>
      </li>
    </ul>
  </div>
</nav>
<button class="btn btn-danger" (click)="newFun()">click</button>
<div class="container">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of arr">
        <td>{{ i.id }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.completed }}</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
